#header1-0 H1 {
  color: #ffffff;
}
#header1-0 P {
  color: #ffffff;
}
#slider-b H2 {
  color: #d8f1d5;
}
#social-buttons2-e .mbr-section-title {
  color: #ffffff;
}
#header1-0 H1 {
  color: #ffffff;
}
#header1-0 P {
  color: #ffffff;
}
